/*Raquel Maria Parrish - Portfolio*/

html, body{
	width:100%;
	background-color: black;
	color:grey;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
}

.pages{
	display: block;
	width:100vw;
	height:100vh;
}

#page1{
	display:block;
	background-color: blue;
	/*background-image: url('../l7.jpeg');*/
}

#page2{
	display:block;
	background-color: red;
	/*background-image: url('..l7(2016).jpeg');	*/
}

#page3{
	display:block;
	background-color: blue;
	/*background-image: url('../l7.jpeg');*/
}

#page4{
	display:block;
	background-color: red;
	/*background-image: url('../l7.jpeg');*/
}

/*Desktop Layout*/
@media (min-width: 1080px){

}

/*Mobile Layout*/
@media only screen and (max-width: 1080px){
	.pages{
		height: 55vh;
	}
}
