/* Site variables */
:root {
    --main-color: #00e0e0; 
    --secondary-color:#673DCC; 
    --left-panel-color:#161616; 
    --contrast-color:#ffffff; 
    --main-font-color:#000000; 
    --secondary-font-color:#ffffff; 
}
/**/

html,body{
    font-family: Helvetica, sans-serif;
    font-size:18px;
    color: var(--main-font-color);
    line-height: 0.9;
}
body{
    background-color: var(--main-color);
}
.container{
    padding:20px;
}
.parallax-window {
    min-height: 600px;
    background: transparent;
}
.parallax-overlay-text{
    bottom:10px;
}
.parallax-container{
    padding: 0;
    margin: 0;
}
.section-divider{
    display:block;
    min-height:35px;
    text-align: center;
    bottom: 0;
}
.hidden{
    display:none;
}
.small-caps{
    font-variant: small-caps;
}
.secondary-text{
    color: var(--secondary-font-color);
}

/* Desktop rules */
@media only screen and (max-height:650px){
    .parallax-window {
        min-height: 450px;
        background: transparent;
    }
    .section-divider{
        min-height: 15px;
    }
}