/* Site variables */
:root {
    --main-color: #00e0e0; 
    --secondary-color:#673DCC; 
    --left-panel-color:#161616; 
    --contrast-color:#ffffff; 
    --main-font-color:#000000; 
    --secondary-font-color:#ffffff; 
}
/**/

html,body{
    font-family: Helvetica, sans-serif !important;
    font-size:18px;
    color: var(--main-font-color);
    line-height: 0.9;
}
body{
    background-color: var(--main-color) !important;
}
#header{
    margin:10px;
}
.parallax-window {
    min-height: 950px;
    background: transparent;
}
.parallax-overlay-text{
    bottom:10px;
    margin-left: 15px;
    font-weight: bolder;
    text-align: left;
    text-shadow: 2px 2px 2px var(--secondary-font-color);
}
.parallax-container{
    padding: 0;
    margin: 0;
}
.parallax-window-tall{
    min-height: 1060px !important;
}
.section-divider{
    display:block;
    height:25px;
    text-align: center;
    bottom: 0;
    z-index: 1;
}
.hidden{
    display:none;
}
.small-caps{
    font-variant: small-caps;
}
/* Desktop rules */
@media (max-height:650px){
    .parallax-window {
        min-height: 575px;
        background: transparent;
    }
    .section-divider{
        height: 25px;
    }
}
@media (min-width:869px){
    #header{
        margin:0;
        margin-left:1%;
        padding:20px;
    }
    .section-divider{
        height: 55px;
    }
}